{% load static %}
{% block post-menu %}

<div class="row">

    {% if not request.GET.status %}
    <div class="col-3"><a href="{% url 'post:users_posts' %}" style="color: black">опубликованные</a></div>
    {% else %}
    <div class="col-3"><a href="{% url 'post:users_posts' %}">опубликованные</a></div>
    {% endif %}

    {% if request.GET.status == 'unpublished'%}
    <div class="col-3"><a href="{% url 'post:users_posts' %}?status=unpublished" style="color: black">неопубликованные</a></div>
    {% else %}
    <div class="col-3"><a href="{% url 'post:users_posts' %}?status=unpublished">неопубликованные</a></div>
    {% endif %}

    {% if request.GET.status == 'archive'%}
    <div class="col-3"><a href="{% url 'post:users_posts' %}?status=archive" style="color: black">архив</a></div>
    {% else %}
    <div class="col-3"><a href="{% url 'post:users_posts' %}?status=archive">архив</a></div>
    {% endif %}

    {% if request.GET.status == 'template'%}
    <div class="col-3"><a href="{% url 'post:users_posts' %}?status=template" style="color: black">шаблоны</a></div>
    {% else %}
    <div class="col-3"><a href="{% url 'post:users_posts' %}?status=template">шаблоны</a></div>
    {% endif %}



</div>

{% endblock %}