{% load static %}
{% block post_on_moderate %}
                                    {% if user.banned == 'active' %}
                                    <a href="{% url 'post:post_moderating' post.id %}" class="btn btn-primary">
                                    Модерировать
                                    </a>
                                    {% endif %}

{#                                <a href="{% url 'post:post_moderate_done' post.id %}">#}
{#                                    <button>Модерация пройдена</button>#}
{#                                </a>#}
{##}
{#                                <a href="{% url 'post:post_need_review' post.id %}">#}
{#                                    <button>Требуются исправления</button>#}
{#                                </a>#}
{##}
{#                                <a href="{% url 'post:post_moderate_false' post.id %}">#}
{#                                    <button>Модерация не пройдена</button>#}
{#                                </a>#}

{% endblock %}