{% load static %}
{% block post_empty_status %}


                                {% if not posts and request.GET.status == 'unpublished'%}
                                    <h1>Неопубликованных постов нет</h1>
                                {% endif %}

                                {% if not posts and request.GET.status == 'archive'%}
                                    <h1>Архивированных постов нет</h1>
                                {% endif %}

                                {% if not posts and request.GET.status == 'template'%}
                                    <h1>Шаблонов постов нет</h1>
                                {% endif %}

                                {% if not posts and request.GET.status == 'moderate' %}
                                    <h1>На модерации постов нет</h1>
                                {% endif %}

                                {% if not posts and not request.GET.status %}
                                    <h1>Опубликованных постов нет</h1>
                                {% endif %}
{% endblock %}