{% extends 'hub/base.html' %}
{% load static %}
{% block content %}
    <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <main class="form-signin mt-5">
  <form id="form-control" action="{% url 'authapp:register' %}" method="post" enctype="multipart/form-data">
   {% csrf_token %}
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}">
                    {% endif %}
                {{ form.as_p }}

    <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>

  </form>
</main>
    </div>
    <div class="col-3"></div>
</div>


{% endblock %}