* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #9ec6df;
}

.head_sub {
    display: flex;
    flex-direction: row;
    background-color: #9ec6df;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px;
    background-color: #9ec6df;
}

.header__logo {
    display: flex;
    background-color: #79aec8;
    font-size: 28px;
}

.header__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__item {
    display: flex;
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;
}

.header__hello {
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.user__avatar {
    border-radius: 20px;
    width: 50px;
    height: 50px;
}

a {
    color: #fff;
    text-decoration: none;
}

header, main, footer {
    flex-shrink: 0;
}

header, footer {
    z-index: 1000;
    position: sticky;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #222222;
    color: #fff;

}

.footer__section {
    display: flex;
    align-items: center;
}

.footer__item {
    display: flex;
    padding: 10px 15px;
    font-size: 12px;
    margin-left: 5px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 89%;
}

.side__mid {
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    align-items: center;
    flex: 1.9;
    background: #f1f5f5;
    width: 600px;
}

.mid_container {
    display: flex;
    flex-direction: row;

}

.side__left {
    flex: 1.5;
    background: #f1f5f5;
}
.fixed {
    position: fixed;
    width: 99vw;
}

.side__right {
    flex: 1.5;
    background: #f1f5f5;
}

main > .side__left {
    position: fixed;
    top: 120px;
    left: 0;

}


main > .side__right {
    position: fixed;
    top: 120px;
    right: 0;
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.post__title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.post__body {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2);
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.post__container {
    padding: 20px 25px;
    font-size: 18px;
}

.post__button__read button {
    margin-top: 10px;
    padding: 10px;
    border: #79aec8 2px solid;
    background-color: #fff;
    color: #79aec8;
    outline: none;
    border-radius: 5px;
    justify-content: flex-end;
}

.post__button__read button:hover {
    background-color: #79aec8;
    color: #fff;
}

.post__user,
.post__date {
    margin-bottom: 10px;
    font-size: 12px;
    color: #4f4f4f;
}

.post__tags {
    margin-bottom: 10px;
    font-size: 14px;
    color: #4f4f4f;
}

.user__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    min-height: 20vh;
    min-width: 20vw;
}

#signinform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signinform > p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#signinform > p > label {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 22px;
    color: #4f4f4f;
}

#signinform > p > input {
    width: 300px;
    height: 40px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
}

.form-button {
    display: flex;
    justify-content: center;
}

.ybtn {
    width: 80px;
    height: 40px;
    background-color: #79aec8;
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 5px;
}

.ybtn-reg {
    width: 200px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social__link {
    display: flex;
    padding: 20px;
    font-size: 12px;
    margin-left: 5px;
}

.social__link > a {
    color: #4f4f4f;
}

.post__statistic {
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 10px;
}

.post__karma__count {
    margin-left: 5px;
    font-size: 15px;
}

.errorlist > li {
    font-size: 12px;
    margin-left: 30px;
}

::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}


.wrapper:after {
    clear: both;
    content: "";
    display: table;
}

.wrapper-dropdown {
    position: relative;
    width: 280px;
    margin: 10px 16px 10px 10px;
    padding: 12px 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 1000;
}

.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #9bc7de transparent;
}

.wrapper-dropdown .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
}

.wrapper-dropdown .dropdown li {
    padding: 0 10px;
}

.wrapper-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

.wrapper-dropdown .dropdown li:hover a {
    color: #57a9d9;
}

.wrapper-dropdown.active {
    border-radius: 5px 5px 0 0;
    box-shadow: none;
    border-bottom: none;
}

.wrapper-dropdown.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-dropdown.active .dropdown {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 400px;
}