{% block footer %}

    <nav class="navbar navbar-light bg-light fixed-bottom">
  <div class="container-fluid">
    <span class="navbar-text">
      <div class="footer__item">{% now 'Y' %} &copy; «Hub»</div>
    </span>
  </div>
</nav>
{#    <footer>#}
{#        <div class="footer">#}
{#            <div class="footer__section">#}
{#                <div class="footer__item">{% now 'Y' %} &copy; «Hub»</div>#}
{#                <div class="footer__item">О сайте</div>#}
{#                <div class="footer__item">Служба поддержки</div>#}
{#                <div class="footer__item">Мобильная версия</div>#}
{#            </div>#}
{#            <div class="footer__section">#}
{#            </div>#}
{#        </div>#}
{#    </footer>#}
{% endblock %}