{% block header %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">HUB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

          {% include 'hub/includes/hub_menu.html' %}

      </ul>
    </div>
  <div class="d-flex">

        <ul class="navbar-nav">

            {% if user.banned == 'banned_for_time' %}
        <li class="nav-item">
          <span class="nav-link">

                <p style="color: red; margin-right: 15px;">Вы забанены до {{ user.banned_to }}</p>
                        {% elif user.banned == 'banned_forever' %}
                <p style="color: red; margin-right: 15px;">Вы забанены навсегда</p>

          </span>
        </li>
            {% endif %}

        {% if user.is_authenticated %}

        <li class="nav-item"><span class="nav-link">Привет, {{ user.username }}</span></li>

        <li class="nav-item">
          <a href="{% url 'post:users_posts' %}" class="nav-link" title="Мои посты">
              <i class="fa fa-clipboard" aria-hidden="true">
                  {% if user.is_staff and on_moderate > 0 %}
                                <b style="color: red">{{ on_moderate }}</b>
                                {% endif %}
              </i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'post:comment_list' %}" title="Мои коментарии"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'post:post_create' %}" title="Создать пост"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'authapp:update' %}" title="Профиль"><i class="fa fa-user" aria-hidden="true"></i></a>
        </li>

            {% if user.is_staff %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'adminapp:users_list' %}" title="Админка"><i class="fa fa-address-book" aria-hidden="true"></i></a>
        </li>

                {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'authapp:logout' %}" title="Выход"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>

            {% else %}

        <li class="nav-item"><span class="nav-link">Привет, незнакомец!</span></li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'authapp:login' %}" title="Войти"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'authapp:register' %}" title="Регистрация">Регистрация</a>
        </li>

    {% endif %}
      </ul>
    </div>

</div>
    </nav>

{% endblock %}