{% block header %}
    <header>
        <div class="header">
            <div class="header__section">
                <div class="header__item header__logo"><a href="/" style="text-decoration: none; color: #000">HUB-Logo</a></div>
                {% include 'hub/includes/hub_menu.html' %}
            </div>
            <div class="header__section">
                {% if user.is_authenticated %}
                    <div class="header__item"><a href="{% url 'post:post_create' %}">Создать пост</a></div>
                    <div class="header__item"><a href="{% url 'authapp:update' %}">Update Profile</a></div>
                    <div class="header__item"><a href="{% url 'authapp:logout' %}">Logout</a></div>
                {% else %}
                    <div class="header__item"><a href="{% url 'authapp:login' %}">Log in</a></div>
                    <div class="header__item"><a href="{% url 'authapp:register' %}">Sign up</a></div>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}