{% block header %}
    <header>
        <div class="header">
            <div class="header__section">
                <div class="header__item header__logo"><a href="/" style="text-decoration: none; color: #000">HUB-Logo</a></div>
                {% include 'hub/includes/hub_menu.html' %}
            </div>
            <div class="header__section">
                <div class="header__item"><a href="/login">Log in</a></div>
                <div class="header__item"><a href="/register">Sign up</a></div>
            </div>
        </div>
    </header>
{% endblock %}