<nav class="one">
    <ul class="topmenu">
        {% for key, cats in head_menu_object_list.items %}
            {% if key.name == title %}
            <li><a href="{% url 'hub:hub' key.id %}" style="color: black">{{ key.name|title }}</a>
            {% else %}
            <li><a href="{% url 'hub:hub' key.id %}">{{ key.name|title }}</a>
            {% endif %}
                <!-- уровень выпадающего списка -->
                <ul class="submenu">
                {% for cat in cats.0 %}
			                <li><a href="{% url 'hub:hub_category' key.id cat.id %}">{{ cat.name|title }}</a></li>
                {% endfor %}
                </ul>
            </li>

        {% endfor %}
    </ul>
</nav>