{% extends 'hub/base.html' %}
{% load static %}
{% block content %}
    <div class="card mt-3 mb-5">
        <div class="card-body">
            <div class="post__container">
                <form id="form-horizontal m-t-30" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-button">
                        <button id="submit" type="submit"
                                class="btn btn-primary w-md waves-effect waves-light">Отправить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}