{% extends 'hub/base.html' %}
{% load static %}
{% block content %}
    {% include 'post/includes/menu.html' %}


                                {% include 'post/includes/post_empty_status.html' %}

        {% for post in posts %}
            <div class="card mt-3 mb-5" >

                <div class="card-body">

                <img src="https://media.istockphoto.com/vectors/thin-line-design-concept-for-project-website-banner-vector-id510855044"
                     class="card-img-top" alt="...">
                <div class="post__container">
                    {% include 'post/includes/post_moderate_status.html' %}
                    <div class="post__user">Пользователь: <span>{{ post.user }}</span></div>
                    <div class="post__date">Дата публицкации: <span>{{ post.updated_at }}</span></div>
                    <div class="post__tags"><i class="fa fa-tags" aria-hidden="true"></i> {{ post.hub_category.name }}</div>
                        {% if post.tags %}
                            <div class="post__tags"><i class="fa fa-tags" aria-hidden="true"></i> {{ post.get_all_tags }}</div>
                        {% endif %}
                    <div class="post__title"><h3>{{ post.name }}</h3></div>
                    <div class="post__body">
                        <p>
                            {{ post.content|safe|truncatewords:50 }}
                        </p>

                    </div>


                        <a href="{% url 'post:post' post.id %}" class="btn btn-primary">
                            Читать далее...
                        </a>

                        {% if post.status == 'unpublished' %}
                                {% include 'post/includes/post_status_unpublished.html' %}
                        {% elif post.status == 'published' %}
                                {% include 'post/includes/post_status_published.html' %}
                        {% elif post.status == 'archive' %}
                                {% include 'post/includes/post_status_archive.html' %}
                        {% elif post.status == 'template' %}
                                {% include 'post/includes/post_status_template.html' %}
                        {% elif post.status == 'moderate_false' %}
                                {% include 'post/includes/post_status_moderate_false.html' %}
                        {% elif post.status == 'need_review' %}
                                {% include 'post/includes/post_status_need_review.html' %}
                        {% endif %}

                        {% if post.status == 'on_moderate' and user.is_staff%}
                                {% include 'post/includes/post_on_moderate.html' %}
                        {% endif %}





                    <div class="post__statistic">
                        <div class="post__karma"><i class="fa fa-bar-chart" aria-hidden="true"></i><span
                                class="post__karma__count">{{ post.post_karma }}</span>
                        </div>
                    </div>
                </div>
            </div>

    </div>
    {% endfor %}

{% endblock %}