{% extends 'hub/base.html' %}
{% load bootstrap3 %}
{% load bootstrap_icons %}
<script src="{% bootstrap_jquery_url %}"></script>

{% bootstrap_javascript %}
{% bootstrap_css %}
{% load static %}

{% block content %}
    <div class="card mt-3">

        <div class="card-body">

            <img src="https://media.istockphoto.com/vectors/thin-line-design-concept-for-project-website-banner-vector-id510855044"
                 class="card-img-top" alt="...">

            {% include 'post/includes/post_moderate_status.html' %}
                <div class="post__user">Пользователь: <span>{{ post.user }}</span></div>
                <div class="post__date">Дата публицкации: <span>{{ post.updated_at }}</span></div>
                <div class="post__tags"><i class="fa fa-tags" aria-hidden="true"></i> {{ post.hub_category.name }}</div>
                    {% if post.tags %}
                        <div class="post__tags"><i class="fa fa-tags" aria-hidden="true"></i> {{ post.get_all_tags }}</div>
                    {% endif %}
                <div class="post__title"><h3>{{ post.name }}</h3></div>
                <div class="post__body">
                    <p>
                        {{ post.content|safe }}
                    </p>

                </div>

                {#                <div class="post__button__read">#}
                {#                    <a href="/post/{{ post.id }}">#}
                {#                        <button>Читать далее...</button>#}
                {#                    </a>#}
                {#                </div>#}
            {% if post.status == 'need_review' or post.status == 'moderate_false' %}
                _______________
                <p>Причина</p>
                {{ post.moderate_desc|upper }}
            {% endif %}

                <div class="post__statistic">
                    <div class="post__karma"><i class="fa fa-bar-chart" aria-hidden="true"></i>
                        <span class="post__karma__count">{{ post.post_karma }}</span>&nbsp;
                        <span class="post__karma__msg"></span>&nbsp;
                    {% if post.status == 'published' %}
                        {% if request.user.is_authenticated %}
                            {% if request.user == post.post_id.first.user %}
                                {% if post.post_id.first.karma == 1 %}
                                    <bottom type="button" id="likes_down">
                                        {# если будете что-то тут редачить, не забудьте поправить порядок #}
                                        {# childNodes в файле karma.js #}
                                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;&nbsp;
                                    </bottom>
                                    <bottom type="button" id="likes_up">
                                        <i class="fa fa-thumbs-o-up liked" aria-hidden="true"></i>
                                    </bottom>
                                {% elif post.post_id.first.karma == -1 %}
                                    <bottom type="button" id="likes_down">
                                        <i class="fa fa-thumbs-o-down liked" aria-hidden="true"></i>&nbsp;&nbsp;
                                    </bottom>
                                    <bottom type="button" id="likes_up">
                                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                    </bottom>
                                {% endif %}
                            {% else %}
                                <bottom type="button" id="likes_down">
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;&nbsp;
                                </bottom>
                                <bottom type="button" id="likes_up">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                </bottom>
                            {% endif %}
                        {% else %}
                            <span>Для выставления оценки авторизуйтесь.</span>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>

        </div>
    </div>

{% if user.banned == 'active' %}
    <h2>Комментарии</h2>

    {% for comment in comments %}
        <a name="comment-{{ comment.id }}"></a>
        <div class="row" id="{{ comment.id }}">
            <div class="col-md-{{ comment.get_col }} col-md-offset-{{ comment.get_offset }}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{ comment.author_id.get_full_name|default:comment.author.username }}</strong>&nbsp;&nbsp;
                        {{ comment.created_at }}
                        <a href="#comment-{{ comment.id }}">#</a>
                    </div>
                    <div class="panel-body">
                        <div>
                            {{ comment.content|safe }}
                            <div>
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                <span id="{{ comment.id }}"
                                      class="comment__karma__count">{{ comment.comment_karma }}</span>&nbsp;
                                <span id="{{ comment.id }}" class="comment__karma__msg"></span>&nbsp;
                                {% if request.user.is_authenticated %}
                                    {% if request.user == comment.karma.first.user %}
                                        {% if comment.karma.first.karma == 1 %}
                                            <bottom type="button" id="{{ comment.id }}" name="comment_likes_down">
                                                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;&nbsp;
                                            </bottom>
                                            <bottom type="button" id="{{ comment.id }}" name="comment_likes_up">
                                                <i class="fa fa-thumbs-o-up liked" aria-hidden="true"></i>
                                            </bottom>
                                        {% elif comment.karma.first.karma == -1 %}
                                            <bottom type="button" id="{{ comment.id }}" name="comment_likes_down">
                                                <i class="fa fa-thumbs-o-down liked" aria-hidden="true"></i>&nbsp;&nbsp;
                                            </bottom>
                                            <bottom type="button" id="{{ comment.id }}" name="comment_likes_up">
                                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                            </bottom>
                                        {% endif %}
                                    {% else %}
                                        <bottom type="button" id="{{ comment.id }}" name="comment_likes_down">
                                            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;&nbsp;
                                        </bottom>
                                        <bottom type="button" id="{{ comment.id }}" name="comment_likes_up">
                                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                        </bottom>
                                    {% endif %}
                                {% else %}
                                    <span>Для выставления оценки авторизуйтесь.</span>
                                {% endif %}
                            </div>
                        </div>

                        {% if comment.published %}
                            {% if form %}

                                <a class="btn btn-default btn-xs pull-right"
                                   onclick="return show_comments_form({{ comment.id }})">
                                    {% bootstrap_icon "share-alt" %}&nbsp;&nbsp;Ответить
                                </a>
                                {% if comment.author.username == request.user.username %}
                                    &nbsp;&nbsp;
                                    <a href="comment/delete/{{ comment.id }}" class="btn btn-default btn-xs pull-right">
                                        Удалить</a>

                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if post.status == 'published' %}
    {% if form %}
        <h3 id="write_comment"><a style="color: black;" onclick="return show_comments_form('write_comment')">Написать
            комментарий</a></h3>
        <form id="comment_form" action="{% url 'post:add_comment' post.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">{% bootstrap_icon "comment" %}&nbsp;&nbsp;Комментировать
                </button>
            {% endbuttons %}
        </form>
    {% else %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Комментарии</h3>
            </div>
            <div class="panel-body">
                Только авторизованные пользователи могут оставлять комментарии.<br/>
            </div>
        </div>
    {% endif %}
    {% endif %}
    {% endif %}

{% endblock %}

