{% extends 'hub/base.html' %}
{% load static %}
{% block content %}
    {% include 'post/includes/menu.html' %}
    <div class="posts">

                                {% if not posts %}
                                    <h1>Постов нет</h1>
                                {% endif %}

        {% for post in posts %}
            <div class="card" >

                <img src="https://media.istockphoto.com/vectors/thin-line-design-concept-for-project-website-banner-vector-id510855044"
                     alt="preview">
                <div class="post__container">
                    <div class="post__user">Пользователь: <span>{{ post.user_id }}</span></div>
                    <div class="post__date">Дата публицкации: <span>{{ post.updated_at }}</span></div>
                    <div class="post__tags"><i class="fa fa-tags" aria-hidden="true"></i> {{ post.hub_category.name }}</div>
                    <div class="post__title"><h3>{{ post.name }}</h3></div>
                    <div class="post__body">
                        <p>
                            {{ post.content|safe|truncatewords:50 }}
                        </p>

                    </div>

                    <div class="post__button__read">
                        <a href="{% url 'post:post' post.id %}">
                            <button>Читать далее...</button>
                        </a>

                        {% if post.status == 'unpublished' %}

                                <a href="{% url 'post:post_update' post.id %}">
                                    <button>Редактировать</button>
                                </a>

                                <a href="{% url 'post:post_publish' post.id %}">
                                    <button>Опубликовать</button>
                                </a>

                                <a href="{% url 'post:post_archive' post.id %}">
                                    <button>Удалить</button>
                                </a>

                                <a href="{% url 'post:post_template' post.id %}">
                                    <button>Сделать шаблон</button>
                                </a>

                        {% elif post.status == 'published' %}

                                <a href="{% url 'post:post_update' post.id %}">
                                    <button>Редактировать</button>
                                </a>

                                <a href="{% url 'post:post_archive' post.id %}">
                                    <button>Удалить</button>
                                </a>

                        {% elif post.status == 'archive' %}

                                <a href="{% url 'post:post_restore' post.id %}">
                                    <button>Восстановить и перенести в неопубликованные</button>
                                </a>

                        {% elif post.status == 'template' %}

                                <a href="{% url 'post:post_update' post.id %}">
                                    <button>Редактировать</button>
                                </a>

                                <a href="{% url 'post:post_template' post.id %}">
                                    <button>Сделать пост по шаблону</button>
                                </a>

                                <a href="{% url 'post:post_archive' post.id %}">
                                    <button>Удалить</button>
                                </a>

                        {% endif %}

                    </div>

                    <div class="post__statistic">
                        <div class="post__karma"><i class="fa fa-bar-chart" aria-hidden="true"></i><span
                                class="post__karma__count">{{ post.post_karma }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example" class="mt-3">
                        <ul class="pagination">
                            <li class="page-item">
                                {% if page_obj.has_previous %}
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                       aria-label="Previous" style="color: black">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                {% endif %}
                            </li>
                            <li class="page-item"><a class="page-link" href="#"  style="color: black">Страница {{ page_obj.number }}
                                из {{ page_obj.paginator.num_pages }}
                            </a></li>
                            <li class="page-item">
                                {% if page_obj.has_next %}
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}"
                                       aria-label="Next"  style="color: black">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>

{% endblock %}