<!DOCTYPE html>
<html lang="ru">
<head>
    {{ form.media }}
    <meta charset="UTF-8">
    <title>Hub</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/menu_style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>
</head>
<body>
{% include 'hub/includes/header.html' %}
<main>
    <div class="side__left"></div>
    <div class="side__mid">
        {% block content %}
        {% endblock %}
    </div>
    <div class="side__right"></div>
</main>
{% include 'hub/includes/footer.html' %}
</body>
</html>